body{
    background-color: rgb(231, 231, 231);
}

body::after {
    content: "";
    background: url("./images/planeswalker.png");
    opacity: 0.40;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-repeat: no-repeat;
    background-position: center;
    background-size: 325px;
  }


.form--container{
    position: relative;
    left: 50%;
    margin-top: 20%;
    float: left;
}

.form{
    display: flex;
    flex-direction: column;
    position: relative;
    left: -50%;
    bottom: -50%;
    background: #d3dfff;
    box-sizing: border-box;
    border-radius: 5px;
    color: #0f2840;
    box-shadow: 1px 1px 3px #0f2840;
}

.form input{
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    color: #0f2840;
    box-shadow: 1px 1px 3px #0f2840;
}


ul {
    list-style-type: none;
}

* {
    font-family: Roboto, "Trebuchet MS", Verdana, sans-serif;
}

button{
    border-radius: 3px;
}

a{
    text-decoration: none;
}