
.card-container{
    display:flex;
    align-items: center;
    justify-content: center;
    position: center;
    flex-wrap: wrap;
    margin-bottom:160px;
}


.ownedcard img:hover {
    background-color: red;
    padding: 10px;
    border-radius: 4px;
  }

