.deck-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.deckdisplay-name{
    grid-column: 2 / 3;
    grid-row: 2;
    text-align: center;
    font-size: 36px;
}

.deck-description--display{
    border-style: solid;
    grid-column: 2 / 3;
    grid-row: 3;
    border-radius: 3px;
}

.card-search{
    grid-column: 2 / 3;
    grid-row: 4;
    position: center;
}

.deck-cards{
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    display:flex;
    align-items: center;
    justify-content: center;
    position: center;
    flex-wrap: wrap;
}

.deck-buttons{
    grid-column: 3 / 3;
    grid-row: 3;
}


